<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@@SCAFFY_PROJECT_NAME_SNAKECASE@@</title>
    <script type="module" src="/src/main.tsx"></script>
  </head>
  <body style="overflow-x:hidden;">
    <div id="root" style="display:contents;"></div>
  </body>
</html>
